* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to right bottom, rgba(rgb(224, 151, 109), .8), rgba(rgb(187, 73, 8),.8)), url(../assets/tomatoes.jpg);
    background-size: cover;
    min-height: 100vh;
}
