.navbar{
    width: 100%;
    padding: 4rem 0 10rem 0;
    background-image: $backgroundGradient;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 25% 60%, 0 100%);
    display: flex;
    align-items: center;
    &__list{
        list-style: none;
        font-size: 1.6rem;
        display: flex;
        margin-right: 2rem;
    }
    &__icon{
        margin: 0 3rem;
        width:8rem;
        height: 8rem;
        margin-right: auto;
        &:hover{
            animation: swing 1s ease-in-out;
        }
    }

    &__link{
        transition: all .2s;
        font-weight: 800;
        & a{
            color: #000;
            text-decoration: none;
            padding: 2rem;
            cursor: pointer;
        }
        &:hover{
            background-color: $color-primary-light;
            transform: translateY(-3px);
        }
    }
}

.progress-bar{
    width: 100%;
    height: 10rem;
    transition: all .2s ease-out;
    &--disabled{
        opacity: 0.7;
        filter: blur(2px);
    }

    &__task-name{
        font-size: 2rem;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__bar{
        display: grid;
        width: 70rem;
        border: 1px solid $color-primary-dark;
        border-radius: 4px;
        height: 50%;
        padding: .8rem; 
    }

    &__progress{
        grid-row: 1/2;
        grid-column: 1/-1;
        background-color: yellow;
        z-index: 2;
    }
}

.session-blocks{
    display: flex;
    grid-row: 1/2;
    grid-column: 1/-1;
    z-index: 1;
}

.session-block{
    height: 100%;
    display: flex;
    align-items: center;
    
    &__length{
        width: 100%;
        font-size: 1.6rem;
        text-align: center;
        &--white{
            color: #fff;
        }
        &--black{
            color: black;
        }
    }
    &--session{
        background-color: $color-primary-light;
    }
    &--break{
        background-color: $color-primary-dark;
    }
}


.current-session{
    margin-top: -4rem;
    align-self: start;
    &__heading{
        @include segmentHeading;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
    }
}


.button{
    font-size: 1.6rem;
    padding: 1.6rem;
    border: none;
    background-color: $color-primary-dark;
    color: #fff;
    border-radius: 100px;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgba(#000, 0.4);
    transition: all .2s ease-out;
    &--disabled{
        cursor: default;
        opacity: 0.8;
        filter: blur(1px);
        transform: scale(0.9);
    }
    &--small{
        line-height: 1.2rem;
        border-radius: 50px;
        font-size: 1.2rem;
        padding: 1.2rem;
        width: 8rem;
    }
    &:hover{
        background-color: $color-primary-light;
    }
}


.timer{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.form-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.form{
    width: 60%;
    display: grid;
    gap: 1rem 0;
    grid-template-columns: 60% 40%;
    padding: 2rem;
    border: 2px solid $color-primary-dark;
    border-radius: 3px;
    transform: skewX(-10deg);
    &__label{
        font-size: 1.6rem;
        width: 100%;
        grid-column: 1/2;
        transform: skewX(10deg);
    }
    &__input{
        grid-column: 2/3;
        transform: skewX(10deg);
        &:last-of-type{
            margin-bottom: 2rem;
        }
    }

    & button{
        grid-column: 1/3;
        margin: 0 auto;
        transform: skewX(10deg);
    }
}

.task-manager,
.task-creator{
    margin-top: -4rem;
    &__heading{
        @include segmentHeading;
    }
}

.task-manager{
    width: auto;
    &__list{
        list-style: none;
    }
    &:hover .task-card:not(:hover){
        transform: scale(.9);
        filter: blur(1px);
    }
    
}

.task-card{
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: .8rem;
    display: grid;
    grid-template-columns: 1fr minmax(30%, min-content);
    gap: 0 3rem;
    align-items: center;
    background-color: $color-primary-light;
    box-shadow: 0.5rem 0.5rem 4rem rgba(#000, 0.4);
    transition: transform .4s;
    &__heading{
        grid-column: 1/2;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color-primary-dark;
    }
    &__info-container{
        font-size: 1.2rem;
        grid-column: 1/2;
        display: flex;
        justify-content: space-between; 
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        &:not(:last-of-type){
            margin-right: 1rem;
        }
        & span{
            font-weight: 400;
        }
    }
    &__buttons{
        grid-row: 1/3;
        grid-column: 2/3;
        display: flex;
        justify-content: space-between; 

        & button{
            margin-right: 1rem;
        }
    }
    &:hover{
        transform: translate(10px, -10px) scale(1.2)
    }
    
}

.history{
    margin-top: -4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
    &__header{
        @include segmentHeading; 
    }
    &__button{
        text-decoration: none;
        color: #fff;
        width: 20rem;
        text-align: center;
    }

    &__table{
        border: 1px solid black;
        margin-bottom: 2rem;
        border-radius: 3px;
    }
    &__th,
    &__td{
        border: 1px solid black;
        padding: 1rem;
    }

    &__th{
        font-size: 1.6rem;
    }
    &__td{
        font-size: 1.4rem;
    }
}

