@import "styles/base";
@import "styles/mixins";
@import "styles/components";



.App{
    width: 80%;
    margin: 10rem auto 0 auto;
    height: 85vh;
    background-color: rgb(255, 155, 61);
    border-radius: 4px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    box-shadow: 0 2rem 5rem rgba( #000000, .4);
}